{% extends 'admin/master.html' %}

{% block title %}Stepik CRM{% endblock %}

{% block body %}
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>Заявки</h2>
                <p><strong>{{ applicants_data.length }}</strong> всего,
                    <strong>{{ applicants_data.diff }}</strong> распределены,
                    <strong>{{ applicants_data.news }}</strong> не распределены</p>
                <h3>Новые заявки</h3>
                <table class="table">
                    {% for applicant in applicants_data.new_applicants %}
                    <tr>
                        <td><a href="applicant/edit/?id={{ applicant.id }}">{{ applicant.group.title }}</a></td>
                        <td>{{ applicant.group.applicants_count }} / {{ applicant.group.seats }} набрано</td>
                        {% if applicant.group.is_complete %}
                            <td>Нет мест</td>
                        {% else %}
                            <td>есть места</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <a href="" class></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2>Группы</h2>
                <br>
                <table class="table">
                    {% for group in groups %}
                    <tr>
                        <td><a href="group/edit/?id={{ group.id }}">{{group.title}}</a></td>
                        <td>{{ group.applicants_count }} / {{ group.seats }} набрано</td>
                        {% if group.is_complete %}
                            <td>Нет мест</td>
                        {% else %}
                            <td>есть места</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}